@charset "utf-8";
/****************************************
    1. General Setting
*****************************************/
html, body, div, span, applet, object, iframe, strong,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, legend, caption,
tbody, tfoot, thead, table, label, tr, th, td{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style:none;
  }
html{}
body{
    font: 14px/22px "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Helvetica,Arial,Sans-Serif;
  color: #666;
  background-color: #fff;
-webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
a{ color: #247bb0; text-decoration: none;}
a:hover{ color: #79b4d8;text-decoration:underline; }
.clearfix{ clear: both; line-height: 0}


body{
    font: 14px/22px "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Helvetica,Arial,Sans-Serif;
  color: #666;
  background-color: #F5F5F3;
-webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
a{ color: #247bb0; text-decoration: none;}
a:hover{ color: #79b4d8;text-decoration:underline; }
.clearfix{ clear: both; line-height: 0}


#header{
background: rgba(51,51,51,0.5);
position: fixed;
z-index: 1;
}


#menu{
height: 102px;
margin:0px auto; /* 上下の margin は 0px、左右は auto に設定*/
width:1349px;
padding: 0px 0px 0px 314px;
}


.top-img img{
position: relative;
width: 100%;
height:auto;
}

.top-img h1{
position: absolute;
font-size: 500%; 
text-align: center;
top: 50%;
left:  25%;
color: white;
}

.top-img p{
position: absolute;
font-size: 200%; 
top: 65%;
left:  42%;
width: 150px;
color: white;
text-align: center;
}