@charset "utf-8";
/****************************************
    1. General Setting
*****************************************/
html, body, div, span, applet, object, iframe, strong,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, legend, caption,
tbody, tfoot, thead, table, label, tr, th, td{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style:none;
  }
html{}
body{
    font: 14px/22px "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Helvetica,Arial,Sans-Serif;
  color: #666;
  background-color: #fff;
-webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
a{ color: #247bb0; text-decoration: none;}
a:hover{ color: #79b4d8;text-decoration:underline; }
.clearfix{ clear: both; line-height: 0}


body{
    font: 14px/22px "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Helvetica,Arial,Sans-Serif;
  color: #666;
  background-color: #F5F5F3;
-webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
a{ color: #247bb0; text-decoration: none;}
a:hover{ color: #79b4d8;text-decoration:underline; }
.clearfix{ clear: both; line-height: 0}


#header{
background: rgba(51,51,51,0.5);
position: fixed;
z-index: 1;
}


#menu{
height: 102px;
margin:0px auto; /* 上下の margin は 0px、左右は auto に設定*/
width:1349px;
padding: 0px 0px 0px 314px;
}





.top-img img{
clip: rect(10px 80px 70px 20px);
position:absolute;
position: relative;
width: 100%;
height: 55%;
}

.top-img h1{
position: absolute;
font-size: 500%; 
text-align: center;
top: 50%;
left:  25%;
color: white;
}

.top-img p{
position: absolute;
font-size: 200%; 
top: 65%;
left:  42%;
width: 150px;
color: white;
text-align: center;
}









#section-vision-intro{
  padding: 50px 0px;
  color: #797979;
}


#section-vision-intro h1 {
  height: 70px;
  text-align: center;
  font-size: 50px;
}

#section-vision-intro p {
  height: 50px;
  text-align: center;
  font-size: 20px;
}





.active {
  height: 50px;
  width: 250px;
  text-align: center;
  color: white;
  background: #740700;
  border-radius: 4px 4px 4px 4px;
  padding: 10px 0px;
  margin: 0px 0px 0px 500px;
}

.active h2 {
  padding: 5px 0px;
  font-size: 140%;
}

.active p {
  padding: 5px 0px;
  font-size: 50%;
}














/* -----------データー追加 選択----------------------------------------------------- */

div.selection-1{color: #fff}
div.selection-2{color: #fff}
div.selection-3{color: #fff}
div.selection-4{color: #fff}



div.tabbox {
  margin: 15px 0px 500px 0px;
  padding: 0px; 
  height:200px;
  background-color: #5759B0;
}

.tabbox-button{
  padding: 0 0 0 0;

}

/* ▼ タブ部分のマージンとパディング領域を設定 */
p.tabs { 
  margin: 0px;
  padding: 0px; }


p.tabs a {
   /* ▼ リンクをタブのように見せる */
   display: block;
   width: 23.7%;
   height: 150px;
   float: left;
   margin: 0px 0px 0px 0px;
   padding: 3px;
   text-align: center;
   font-size:32px;
   color: #fff;
}

/* ▼ タブごとの配色設定 */
p.tabs a.tab1 {
  text-decoration:none;
  background-color:#439463;
  border-right:1px solid #dcdcdc;
  border-left:1px solid #dcdcdc;
  border-top: 3px solid rgba(170, 0, 0, 0.85);
  font-weight:600;
  }
p.tabs a.tab2 {text-decoration:none; background-color:#af6e2f;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;border-top: 3px solid rgba(0, 170, 0, 0.85);  font-weight:600;}
p.tabs a.tab3 {text-decoration:none; background-color:#3d9fa3;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;border-top: 3px solid rgba(0, 0, 170, 0.85);  font-weight:600;}
p.tabs a.tab4 {text-decoration:none; background-color:#b05760;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;border-top: 3px solid rgba(0, 0, 170, 0.85);  font-weight:600;}

p.tabs a:hover {opacity:0.9;filter:alpha(opacity=70);}

/* ▼ タブ中身のボックス */
div.tab {
   /* ▼ ボックス共通の装飾 */
    height: auto;  clear: left;
    overflow: hidden;
    width: 100%;
    padding: 0;
}
/* ▼ 各ボックスの配色設定 */
div#tab1 { border: 2px solid #DDD; background-color: #fbfbfb; }
div#tab2 { border: 2px solid #DDD; background-color: #fbfbfb; }
div#tab3 { border: 2px solid #DDD; background-color: #fbfbfb; }
div#tab4 { border: 2px solid #DDD; background-color: #fbfbfb; }

div.tab p { margin: 0.5em; }




















/* -----アイコン部分のトップページ（学生バージョン）



{
  background-collor :変えるべき;
  残りは、htmlの方を変更するように
}

＋で企業よう、一般用、団体用を作るときもCSS別々で！

-------*/


.icon-title-student{
  background-color: #ff8600;
  text-align: center;
  padding: 10px 0px 20px 0px;
}

.icon-title-student h3{
  font-size: 40px;
  line-height: 1.5em;
}

.icon-title-student p{
  font-size: 20px;
  line-height: 1.3em;
}





#section-action{
  background-color: #333;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
   }
#section-action:hover {
    background-color: #999;
    }



#section-action{
  width: 100%;
  height: 151px;
  border-bottom: #439463 10px solid;
}


#section-action img{
position: relative;
width: 260px;
float: right;
}

#section-action h1{
font-size: 180%;
padding: 68px 0px 0px 65px;
height: 25%;
width: 25%;
}

#section-action p{
font-size: 103%;
margin: -5.5% 0% 0% 27%;
float: left;
width: 41%;
}





.icon-title-student-2{
  background-color: #af6e2f;
  text-align: center;
  padding: 10px 0px 20px 0px;
}

.icon-title-student-2 h3{
  font-size: 40px;
  line-height: 1.5em;
}

.icon-title-student-2 p{
  font-size: 20px;
  line-height: 1.3em;
}





#section-action-2{
  background-color: #333;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
   }
#section-action-2:hover {
    background-color: #999;
    }



#section-action-2{
  width: 100%;
  height: 151px;
  border-bottom: #af6e2f 10px solid;
}


#section-action-2 img{
position: relative;
width: 250px;
float: right;
}

#section-action-2 h1{
font-size: 180%;
padding: 68px 0px 0px 65px;
height: 25%;
width: 25%;
}

#section-action-2 p{
font-size: 103%;
margin: -5.5% 0% 0% 27%;
float: left;
width: 41%;
}






.icon-title-student-3{
  background-color: #3d9fa3;
  text-align: center;
  padding: 10px 0px 20px 0px;
}

.icon-title-student-3 h3{
  font-size: 40px;
  line-height: 1.5em;
}

.icon-title-student-3 p{
  font-size: 20px;
  line-height: 1.3em;
}





#section-action-3{
  background-color: #333;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
   }
#section-action-3:hover {
    background-color: #999;
    }



#section-action-3{
  width: 100%;
  height: 151px;
  border-bottom: #3ABCAD 10px solid;
}


#section-action-3 img{
position: relative;
width: 250px;
float: right;
}

#section-action-3 h1{
font-size: 180%;
padding: 68px 0px 0px 65px;
height: 25%;
width: 25%;
}

#section-action-3 p{
font-size: 103%;
margin: -5.5% 0% 0% 27%;
float: left;
width: 41%;
}










.icon-title-student-4{
  background-color: #b05760;
  text-align: center;
  padding: 10px 0px 20px 0px;
}

.icon-title-student-4 h3{
  font-size: 40px;
  line-height: 1.5em;
}

.icon-title-student-4 p{
  font-size: 20px;
  line-height: 1.3em;
}





#section-action-4{
  background-color: #333;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
   }
#section-action-4:hover {
    background-color: #999;
    }



#section-action-4{
  width: 100%;
  height: 151px;
  border-bottom: #b05760 10px solid;
}


#section-action-4 img{
position: relative;
width: 250px;
float: right;
}

#section-action-4 h1{
font-size: 180%;
padding: 68px 0px 0px 65px;
height: 25%;
width: 25%;
}

#section-action-4 p{
font-size: 103%;
margin: -5.5% 0% 0% 27%;
float: left;
width: 41%;
}










































#section-contact{
  padding: 0px 0px;
  width: 100%;
  bottom: -10%;
  z-index: 0;
  float: left;
  background-color: #fff3df;
}


#section-contact h2 {
  height: 100px;
  text-align: center;
  font-size: 80px;
}


.contact {
  height: 50px;
  width: 350px;
  text-align: center;
  color: white;
  background: #740700;
  border-radius: 4px 4px 4px 4px;
  padding: 10px 0px;
  margin: 0px 0px 0px 500px;
}

.contact h2 {
  padding: 5px 0px;
  font-size: 140%;
}




#section-contact-2{
  padding: 0px 0px;
  width: 100%;
  bottom: -10%;
  z-index: 0;
  float: left;
  background-color: #eceff1;
}


#section-contact-3{
  padding: 0px 0px;
  width: 100%;
  bottom: -10%;
  z-index: 0;
  float: left;
  background-color: #dff2f1;
}





#footer{
  padding: 20px;
  bottom: 0;
  color: #797979;
  background: #161616;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  display: flex;
}


.footer-left{
  float: left;
}

.footer-left img{
  width: 120px;
  height:120px;
  bottom: 0;
  left: 37%;
  float: left;
}

.footer-left h1{
  float: left;
  padding: 50px 17px 50px 20px;
  font-size: 200%;
}

.footer-left h2{
  float: left;
  padding: 30px 17px 50px 100px;
  font-size: 100%;
}

.footer-left nav{
  float: left;
  padding: 30px 17px 0px 10px;
  font-size: 80%;
  color: #797979;
}



.footer-right{
  float: right;
  left: 37%;
}

.footer-right h3{
  float: right;
  padding: 100px 17px 0px 10px;
  left: 37%;
  font-size: 150%;
}