body{background-image:url('image/worldmap2.png');
     background-repeat:no-repeat;
     background-size:contain;
     background-position:0px 100px;}

div#box1{color:#ffffff;
        list-style:inside decimal;     
        font-size: 40px;
        font-weight:bold;
        text-align: center;
        line-height:80px;
        background:#dcdcdc;
        width:100%;
        height:80px;
        margin:0px 0px 0px 0px;
              }

div#box2{margin-left: 100px;
         width: 1000px;
         height:300px;}             


div#lefttext{width: 300px;
             height: 300px;
             font-weight:bold;
             font-size:35px;
             float: left;       }

div#righttext{width: 500px;
              height: 300px; 
              font-weight: bold;
              font-size: 20px;
              line-height: 20px;
              font-family: sans-serif; 
              float: right;
              margin-top: 20px}  

/* １ページ目終わり*/

/*３ページ目始まり*/
 h2{font-size: 30px;
    font-weight:bold;
    font-family:serif;
    text-align: center;
    line-height: 35px} 
h3{font-size: 20px;
    line-height: 25px;
    font-weight:bold;
    font-family:serif;
    text-align: center; }               

/*３ページ目終わり*/

/*４ページ目始まり*/

h4{color:#000000;
             font-weight:bold;
             font-family:sans-serif;
             font-size:40px;             
             text-align:center;
              }
div#box4{text-align: center;}
div#box5{color: #ffffff;
             font-size:30px;
             font-weight:bold;
             font-family:serif;
             line-height: 300px;
             text-align: right;
             background: #1b1b1b;
             width:100%;
          height: 200px;
             
               }
div#box6{position: absolute;right: 150px;}   