@charset "utf-8";
/****************************************
    1. General Setting
*****************************************/
html, body, div, span, applet, object, iframe, strong,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, legend, caption,
tbody, tfoot, thead, table, label, tr, th, td{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style:none;
  }
html{}
body{
    font: 14px/22px "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Helvetica,Arial,Sans-Serif;
  color: #666;
  background-color: #fff;
-webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
a{ color: #247bb0; text-decoration: none;}
a:hover{ color: #79b4d8;text-decoration:underline; }
.clearfix{ clear: both; line-height: 0}


body{
    font: 14px/22px "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Helvetica,Arial,Sans-Serif;
  color: #666;
  background-color: #F5F5F3;
-webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
a{ color: #247bb0; text-decoration: none;}
a:hover{ color: #79b4d8;text-decoration:underline; }
.clearfix{ clear: both; line-height: 0}


#header{
background: rgba(51,51,51,0.5);
position: fixed;
z-index: 1;
}


#menu{
height: 102px;
margin:0px auto; /* 上下の margin は 0px、左右は auto に設定*/
width:1349px;
padding: 0px 0px 0px 314px;
}


#wrapper {
  overflow: hidden;
  width: 100%;
  padding: 0;
}
 
input[type="radio"] {
  display: none;
}
 
#slideshow {
  position: relative;
  width: 100%;
}
 
.slideContents {
  position: relative;
  background: black;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}
 
.slideContents,
.slideContents section {
  width: 100%;
  height: auto;
}
 
.slideContents section {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: opacity .6s, -webkit-transform .6s;
  transition: opacity .6s, transform .6s;
}
 
.slideContents section img {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 100%;
  height: auto;
  padding: 0 50px;
  vertical-align: middle;
}
 
/* :::::: slideshow mechanism :::::: */
 
#switch1:checked ~ #slideshow .slideContents #slide1,
#switch2:checked ~ #slideshow .slideContents #slide2,
#switch3:checked ~ #slideshow .slideContents #slide3,
#switch4:checked ~ #slideshow .slideContents #slide4,
#switch5:checked ~ #slideshow .slideContents #slide5 {
  z-index: 1;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
 
#switch1:checked ~ #slideshow .slideContents #slide1,
#switch2:checked ~ #slideshow .slideContents #slide2,
#switch3:checked ~ #slideshow .slideContents #slide3,
#switch4:checked ~ #slideshow .slideContents #slide4,
#switch5:checked ~ #slideshow .slideContents #slide5 {
  opacity: 1;
}
 
#switch1:checked ~ #slideshow .slideContents #slide5,
#switch1:checked ~ #slideshow .slideContents #slide4,
#switch2:checked ~ #slideshow .slideContents #slide1,
#switch2:checked ~ #slideshow .slideContents #slide5,
#switch3:checked ~ #slideshow .slideContents #slide2,
#switch3:checked ~ #slideshow .slideContents #slide1,
#switch4:checked ~ #slideshow .slideContents #slide3,
#switch4:checked ~ #slideshow .slideContents #slide2,
#switch5:checked ~ #slideshow .slideContents #slide4,
#switch5:checked ~ #slideshow .slideContents #slide3 {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
 
#switch1:checked ~ #slideshow .slideContents #slide3,
#switch2:checked ~ #slideshow .slideContents #slide4,
#switch3:checked ~ #slideshow .slideContents #slide5,
#switch4:checked ~ #slideshow .slideContents #slide1,
#switch5:checked ~ #slideshow .slideContents #slide2,
#switch1:checked ~ #slideshow .slideContents #slide4,
#switch2:checked ~ #slideshow .slideContents #slide5,
#switch3:checked ~ #slideshow .slideContents #slide1,
#switch4:checked ~ #slideshow .slideContents #slide2,
#switch5:checked ~ #slideshow .slideContents #slide3 {
  transition-duration: 0s;
}
 
.arrow,
.arrow label,
.arrow .ico {
  position: absolute;
}
 
.arrow {
  top: 0;
  margin: 0;
  transition: background .3s;
}
.prev { left: 0; }
.next { right: 0; }
 
.arrow:hover {
  background: rgba(255,255,255,.2);
}
 
.arrow,
.arrow label {
  cursor: pointer;
  width: 50px;
  height: 100%;
}
 
.arrow label {
  top: 0;
  left: 0;
  z-index: 1;
}
 
.arrow .ico {
  top: 50%;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  opacity: 0;
  transition: right .6s, left .6s, opacity .6s;
}
 
.arrow:hover .ico {
  opacity: .6;
  transition-duration: .3s;
}
 
.prev .ico {
  left: 60%;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
 
.next .ico {
  right: 60%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.prev:hover .ico { left: 30%; }
.next:hover .ico { right: 30%; }
 
/* :::::: arrows mechanism :::::: */
 
.arrow label {
  pointer-events: none;
}
 
#switch1:checked ~ #slideshow .prev label[for="switch5"],
#switch2:checked ~ #slideshow .prev label[for="switch1"],
#switch3:checked ~ #slideshow .prev label[for="switch2"],
#switch4:checked ~ #slideshow .prev label[for="switch3"],
#switch5:checked ~ #slideshow .prev label[for="switch4"],
 
#switch1:checked ~ #slideshow .next label[for="switch2"],
#switch2:checked ~ #slideshow .next label[for="switch3"],
#switch3:checked ~ #slideshow .next label[for="switch4"],
#switch4:checked ~ #slideshow .next label[for="switch5"],
#switch5:checked ~ #slideshow .next label[for="switch1"] {
  pointer-events: auto;
}


.slideContents section {
  -webkit-animation: autoplay 30s infinite;
  animation: autoplay 30s infinite;
}
 
.slideContents section {
  -webkit-transform: none;
  transform: none;
  transition: none;
}
 
.slideContents #slide1 {
  position: relative;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}
 
.slideContents #slide2 {
  -webkit-animation-delay: -24s;
  animation-delay: -24s;
}
 
.slideContents #slide3 {
  -webkit-animation-delay: -18s;
  animation-delay: -18s;
}
 
.slideContents #slide4 {
  -webkit-animation-delay: -12s;
  animation-delay: -12s;
}
 
.slideContents #slide5 {
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}
 
@-webkit-keyframes autoplay {
  0% { -webkit-transform: translateX(0); }
  16% { -webkit-transform: translateX(0); }
  20% { -webkit-transform: translateX(-100%); }
  20.001% { -webkit-transform: translateX(100%); }
  96% { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(0); }
}
@keyframes autoplay {
  0% { transform: translateX(0); }
  16% { transform: translateX(0); }
  20% { transform: translateX(-100%); }
  20.001% { transform: translateX(100%); }
  96% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

footer{
font-family: "futura-pt",sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
background: #424242;
color: #fff;
position: relative;
overflow: hidden;
padding: 0px 0px 0px 8px;
margin-top: -197px;
}

.container-fluid {
margin-right: auto;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;
}

.row {
margin:0px auto;
}

a:link.link1{
  display:block;
  width:300px;
  height:250px;
  background-image:url('africa0.jpg');
  text-indent:-10000px;
  list-style:none;float: left;
}
a:hover.link1{
  display:block;
  width:300px;
  height:250px;
  background-image:url('africa1.jpg');
  text-indent:-10000px;
  list-style:none;
  float: left;
}

a:link.link2{
  display:block;
  width:300px;
  height:250px;
  background-image:url('africa0.jpg');
  text-indent:-10000px;
  list-style:none;
  float: left;
}
a:hover.link2{
  display:block;
  width:300px;
  height:250px;
  background-image:url('africa1.jpg');
  text-indent:-10000px;
  list-style:none;
  float: left;
}

a:link.link3{
  display:block;
  width:350px;
  height:250px;
  background-image:url('africa0.jpg');
  text-indent:-10000px;
  list-style:none;float: left;
}
a:hover.link3{
  display:block;
  width:350px;
  height:250px;
  background-image:url('africa1.jpg');
  text-indent:-10000px;
  list-style:none;
  float: left;
}

a:link.link4{
  display:block;
  width:350px;
  height:250px;
  background-image:url('africa0.jpg');
  text-indent:-10000px;
  list-style:none;float: left;
}
a:hover.link4{
  display:block;
  width:350px;
  height:250px;
  background-image:url('africa1.jpg');
  text-indent:-10000px;
  list-style:none;
  float: left;
}